# See https://help.github.com/ignore-files/ for more about ignoring files.

$ IDE
.idea
.vscode

# dependencies
/node_modules

# testing
/coverage

# production
/build
/lib
/ck
/config
/scripts
/dist
/es

dist
es
lib
*.tgz

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.release-it.json
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/*
.vscode/chrome/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/front-end-4/v15/.suo
.vs/
yarn-error.log

# vs code javascript config 
jsconfig.json
.jsbeautifyrc
.jshintrc
bash